	<!-- this page is used in users/index and users/show  -->
	<h4><%= user.username %></h4><br>
	<img src="<%= user.avatar %>"><br>

	<!-- on users/show if user is logged in there is a link on their show page to edit their user info, this is only allowed for the current user -->
	<% if user_page.include?(:show_page) %>
		<% if current_user == user %>
		<%= link_to "Edit User", edit_user_path(user) %>
		<% end %>
	<% end %>

	<!-- on users/index this link will allow you to view a specific users show page -->
	<% if user_page.include?(:index_page) %>
	  <%= link_to "View User", user_path(user) %>
	 <% end %>