
	<h2><%= user.username %></h2>
	<p>
		<img src="<%= user.avatar %>">
	<br>
	</p>

		<% if user == @current_user %>
			<%= link_to "Edit User", edit_user_path(user) %>
		<% end %>

	<% if index_page %>
	  <%= link_to "View User", user_path(user) %>
	 <% end %>