<div class="form splash" id="signup">

	<h1>Edit User</h1>
	<hr>
	<!-- this will show an error on edit form page if the form is not filled in with the requirements for user -->

	<% if @user.errors.any? %>
	  <div>
	    <h3 style="color:red">Please fix the appropriate fields:</h3>
	  </div>
	<% end %>

	<!-- shows user edit form -->
	<%= render partial: 'form', locals: { new_user: false, delete: true } %>

</div>

