<div class="main_content">

<h1>Edit User</h1>

<!-- this will show an error on edit form page if the form is not filled in with the requirements for user -->
<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<hr>

<!-- shows user edit form -->
<%= render 'form' %>

<!-- delete user -->
<%= button_to "Delete", user_path(@user), method: :delete %>

</div>
