<div class="main_content users">

<h1>Members</h1>

	<div id="all_users">
		<% @users.each do |user| %>
			<div class="single">
				<%= link_to user_path(user) do %>
					<%= render user %>
				<% end %>
			</div>
		<% end %>
	</div>
	
</div>
