<div class="main_content user">
	<div class="bio">
		<h1>Profile</h1>
			<%= render partial: 'user', locals: {user: @user, user_page: [:show_page]} %>
	</div>

	<div class="cork_boards">
	<!-- displays all boards for this specific user -->
		<h1>My Cork Boards</h1>
		<% if current_user %>
			<%= render partial: '/boards/buttons', locals: {buttons: [:new_board]} %>
		<% end %>
			<% @user.boards.each do |board| %>
				<%= render partial: '/boards/board', locals: {board: board} %>
			<% end %>
	</div>
</div>