<h1><%= @user.first_name.capitalize %>'s Page </h>
<%= render partial: 'user', locals: {user: @user, index_page: false} %>


<h1><%= @user.username%>'s Cork Boards</h1>
<% @user.boards.each do |board| %>
	<%= render partial: '/boards/board', locals: {board: board} %>
	<% end %>