<div class="splash-container">
	<h1 class="splash-heading">Welcome Page</h1>
	<div class="splash-form">
		<%= render '/sessions/form' %> <br>
		<%= button_to "Continue As Guest", home_path, method: :get %> <br>
		<%= button_to "Sign Up", new_user_path, method: :get %>
	</div>
</div>	