<!-- makes it so that only private boards are seen when logged in and public boards are always seen -->
<% if board.user == @user  %>
<div class="single board">
	<h3><%= link_to "#{board.name}", board_path(board) %></h3>
	<h3> Created by: <%= board.user.username %> <img src="<%= board.user.avatar %>" id="thumb_avatar" class="boards"> </h3>
</div>
<% elsif board.public == true %>
<div class="single board">
	<h3><%= link_to "#{board.name}", board_path(board) %></h3>
</div>
<% end %>
