<!-- makes it so that only private boards are seen when logged in and public boards are always seen -->
<% if board.user == @user  %>
	<h3><%= link_to "#{board.name}", board_path(board) %></h3>
<% elsif board.public == true %>
	<h3><%= link_to "#{board.name}", board_path(board) %></h3>
<% end %>
