<% if buttons.include?(:new_board) %>
	<span class="search_submit"><%= button_to "Create a New Board", new_board_path, method: :get %></span>
<% end %>

<% if buttons.include?(:edit_board) %>
	<span class="search_submit"><%= button_to "Edit Information", edit_board_path, method: :get %></span>
<% end %>

<% if buttons.include?(:find_image) %>
	<span class="search_submit"><%= button_to "Find Images", home_path, method: :get %></span>
<% end %>

<% if buttons.include?(:delete_board) %>
	<span class="search_submit"><%= button_to "Delete Board", board_path, method: :delete %></span>
<% end %>