<div class="main_content all_boards">
	<h1>All Boards</h1>
	
	<!-- buttons is an arbitrary word. means in this partial view please include these elements -->
	<%= render partial: 'buttons', locals: {buttons: [:new_board]} %>
	
	<div id="boards_block">
		<!-- renders a list of all the boards -->
		<%= render @boards %>
	</div>
</div>