<div class="main_content">
	<h1>Create a New Board</h1>

	<!-- displays the errors if user doesn't enter the information correctly, maybe remove the text that appears and just just have the box highlight red if the field needs to be fixed -->
<% if @board.errors.any? %>
  <div>
    <h3 style="color:red">Please fix the appropriate fields:</h3>
  </div>
<% end %>
	
	<div class="form">	
		<%= render 'form'%>
	</div>
</div>