/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*----------- FONT IMPORTS -------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);


/* ------------------------- GLOBAL STYLING ----------------------- */

body {
      background: url("http://i405.photobucket.com/albums/pp132/karilmoo/paisley/cork1.jpg");
      width: 100%;
      margin: 0 auto;
      font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

/*shows what fields have errors in a form, if the form page doesn't save and is rerendered*/
.field_with_errors input {
    border: 2px solid red;
}

a {
    text-decoration: none;
    color: white;
}



/* ------------------------- NAVBAR STYLING ----------------------- */

#navbar {
    background: black;
    height: 100px;
    margin:0; 
    color: white;   
}


#navbar li {
    float:left;
    padding: 0 10px;
    letter-spacing: .1em;
    list-style-type: none;
}

#navbar .nav_left {
    float: left;
}

#navbar .nav_right {
    position: relative;
    top: 75px;
}

#navbar #profile {
    position: relative;
    top: 56px;
}

#navbar #search form {
    margin: 35px 145px 35px 20px;   
}

#search_submit {
    padding: 2px 10px;
    background: black;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

#navbar input[type=text] {
    color: black;
}

#thumb_avatar {
    max-height: 75px;
    position: relative;
    top: 15px;
}

#navbar .divider, #navbar #divider span  {
    color: #f0ff00;
}

/*////////////////////////////////////////////////////////////*/



/* ------------------------- TO EXCLUDE THINGS FROM NAVBAR ----------------------- */

/*nav bar won't display on splash page*/
#nav-sessions>#navbar .nav_right, #nav-sessions>#navbar #search, #nav-sessions>#navbar .divider {
  display: none;
}

/*Search bar won't display on images page*/
#nav-home>#navbar #search {
    display: none;
}

/*////////////////////////////////////////////////////////////*/





/* ------------------------- MAIN STYLING ----------------------- */

.main_content {
    margin: 200px auto;
    text-align: center;
    background: black;
    color: white;
}


/*----- Search Bar - Home Page -----*/

.search {
    padding: 15px 5px;
    width: 420px;
}

.search label {
    font-weight: 300; 
    letter-spacing: 2px;
    color: #f0ff00;
}

.search #search {
    margin: 0 5px;
    color: black;
}



/*----- Search Bar End -----*/

.all_boards {
    padding: 0px 25px 25px;
    background: black;
    margin: 200px auto;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    color: white;
    position: static;
}

.all_boards #search_submit {
    border: 2px solid yellow;
}

.all_boards h4 {
    letter-spacing: 1.5px;
    font-weight: 400;
    text-transform: uppercase;
}

.all_boards p, .board_show p {
    margin-top: -20px;
    letter-spacing: 1px;
    font-weight: 100;
}

.board_show, .user {
    background: white;
    border-radius: 0;
    box-shadow: none;
    color: black;
}

.board_show h1, .board_show p {
    text-align: left;
}

.board_show #search_submit {
    display: block;
}

.single_image {
    max-height: 150px;
}

#images_block {
    display: block;
    margin-top: 20px;
}

.image {
    display: inline-block;
    margin: 10px;
    padding: 8px;
}
.image img {
    margin-left: 25px
}
.url_container>input {
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
}

.bio {
    margin: 0 auto;
    padding-bottom: 10px;
    background: black;
    color: white;
}

.bio>h1, .bio>a {
    padding-top: 15px;
}

.cork_boards {
    padding-bottom: 15px;
}

.cork_boards>h4>a, .cork_boards>p {
    margin-top: -20px;
    color: black;
}

.user, .board_show  {
    width: 750px;
    margin: 200px auto;
}

.members>h1{
        margin: 0;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: .5pt;
        text-align: center;
}

.members {
    background: white;
    width: 1000px;
    margin: 200px auto;
}

.members .single {
    display: inline-block;
    margin: 25px 10px;
}

.single img {
    margin: 0 10px;
    max-width: 200px;
    max-height: 200px;
}

.bio h4 {
    margin-top: 0;
}

.single>a {
    color: black;
}
/*////////////////////////////////////////////////////////////*/

/*-----------------FORM STYLING GOES HERE--------------------*/


.form {
    width: 350px;
    max-width: 406px;
    margin: 200px auto;
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup>h1 {
    margin-bottom: 20px;
}

#signup>hr {
    background: #e8e8e8;
    margin: 0px auto;
}

#signup .input {
    margin-top: 25px;
}

#signup .input label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

#signup #submit {
    width: 100%;
    margin-top: 20px;
    padding: 14px 0;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #737b8d;
    display: table;
    position: static;
    clear: both;
}

#signup h3 {
    display: inline-block;
    width: 100%;
    margin: 5px;
    text-align: center;
}

#signup h3>a {
    color: black;
}

#signup input[type="radio"]{
    float: left;
    margin-right: 7px;
}

.input>h4 {
    font-size: 18px;
    margin-bottom: 12px;
}

#signup #delete>a {
    color: black;
}

/*////////////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////////////////*/
/*------------------- EVENT HANDLERS --------------------*/
/*////////////////////////////////////////////////////////////*/

#signup #submit:hover, #signup h3>a:hover, #signup #delete>a:hover,  #search_submit:hover {
    color: black;
    background: #f0ff00;
}

input[type=text]:focus {
    outline: none;
    border-color: #f0ff00;
    box-shadow: 0 0 5px #f0ff00;
}

.all_boards>h4 a:hover {
    color: #f0ff00;
}

/*---nav bar styling---*/

#navbar>ul input[type=submit]:hover {
    background: #f0ff00;
    color: black;
}

