/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*----------- FONT IMPORTS -------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);


/* ------------------------- GLOBAL STYLING ----------------------- */

body {
      background: url("http://i405.photobucket.com/albums/pp132/karilmoo/paisley/cork1.jpg");
      width: 100%;
      margin: 0 auto;
      font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

/*shows what fields have errors in a form, if the form page doesn't save and is rerendered*/
.field_with_errors input {
    border: 2px solid red;
}

a {
    text-decoration: none;
    color: white;
}

#signup input[type="text"] {
    width: 80%;
}



/* ------------------------- NAVBAR STYLING ----------------------- */

#headernavigation{
    float: right;
}

header {
    background: black;
    height: 100px;
}

#nav-home, #nav-images, #nav-boards, #nav-users {
    width: 100%;

}

#navbar {
    width: 100%;
    display: inline;
    margin:0; 
    color: white; 
}

#navbar li {
    position: relative;
    float:left;
    padding: 0 10px;
    letter-spacing: .1em;
    list-style-type: none;
}

#navbar .nav_left {
    float: left;
}

#navbar .nav_right {
    position: relative;
    top: 75px;
}

#navbar #profile {
    position: relative;
    top: 56px;
}

#navbar #search form {
    margin: 35px 145px 35px 20px;   
}

.search_submit>input[type=submit], input[type=submit] {
    padding: 2px 10px;
    background: black;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

#navbar input[type=text], .url_box>input[type=text]  {
    color: black;
}

#thumb_avatar {
    max-height: 75px;
    padding-right: 8px;
    position: relative;
    top: 15px;
}

#navbar .divider, #navbar #divider span  {
    color: #f0ff00;
}

#logo {
    width: 160px;
}

/*////////////////////////////////////////////////////////////*/



/* ------------------------- TO EXCLUDE THINGS FROM NAVBAR ----------------------- */

/*nav bar won't display on splash page*/
#nav-sessions>#navbar .nav_right, #nav-sessions>#navbar #search, #nav-sessions>#navbar .divider {
  display: none;
}
/*Search bar won't display on images page*/
#nav-home>#navbar #search {
    display: none;
}

/*////////////////////////////////////////////////////////////*/





/* ------------------------- MAIN STYLING ----------------------- */

.main_content {
    margin: 200px auto;
    text-align: center;
    background: black;
    color: white;
}


/*----- Search Bar - Home Page -----*/

.search {
    padding: 15px 5px;
    width: 420px;
}

.search label, 
.url_box>span {
    font-weight: 300; 
    letter-spacing: 2px;
    color: #f0ff00;
}

.search #search, 
.url_box>input[type=text] {
    margin: 0 5px;
    color: black;
}

/*----- Search Bar End -----*/

/*------ USER VIEWS STYLING -----*/

.main_content.user, .users, .main_content.images, .main_content.all_boards, .main_content#image_show {
    width: 45%;
    border-radius: 5px;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
}

.main_content.users {
    width: 75%;
}

.bio {
    margin: 0 auto;
    padding-bottom: 10px;
}

.bio h1, .user a, .users h1, .main_content.images>h1, .all_boards h1 {
    font-weight: 300;
}

.bio h1, .users h1, .main_content.images>h1, .all_boards h1 {
    display: inline-block;
    letter-spacing: 2px;
    padding: 0 10px;
    margin: 20px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.bio h4, .users .single h4 {
    margin: 5px 0 2px 0;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 20px;
    color: #f0ff00;
}

.users .single h4 {
    font-weight: 300;
    font-size: 18px;
    color: white;
    padding-bottom: 10px;
    margin-top: 10px;
}

.bio img, #image_show img {
    max-width: 75%;
}

#image_show img {
    margin-top: 20px;
}

.user a, .cork_boards p {
    letter-spacing: 1px;
}

.cork_boards, .cork_boards a {
    background: white;
    color: black;
}

.cork_boards h1 {
    margin: 0 0 3px 0;
    padding-top: 10px;
}

.cork_boards h2>a, .cork_boards h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -3px;
    padding: 0 8px;
}

#all_boards {
    padding: 15px 0 25px 0;
}

.cork_boards hr {
    width: 60%;
    border: 3px dashed #f0ff00;
}

.cork_boards p {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 300;
}

#all_users {
    margin-top: 25px;
}

.single {
    display: inline-block;
    margin: 10px 25px;
    background: rgba(255, 255, 255, .2);
}

.single .thumb {
    width: 200px;
    height: 200px;
    overflow: hidden;
}


/*------------*/


/*---------IMAGE VIEW STYLING----------*/

.main_content.images, .main_content.board_show {
    width: 90%;
    padding-bottom: 50px;
}

.board_show #board_info {
    width: 100%;
    margin: 15px;
    padding-top: 3px;
}

.board_show .button_block input[type=submit] {
    float: left;
}

.board_show .button_block {
    display: inline-block;
    margin: 10px 0 20px 20px;
    float: left;  
}

/*.buttons_left {
    margin: 10px 0 20px 20px;
    float: left;
}*/

#instructions p, #instructions h2 {
    padding: 3px;
    margin: 15px 10% 10px 10%;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

#instructions h2 {
    display: inline-block;
    border: 2px solid black;
    padding-left: 0;
}

#instructions h2 span:not(.measurement) {
    letter-spacing: 2px;
    padding: 5px;
    padding-right: 2px;
    background: black;
    color: white;
    font-weight: 400;
}

#instructions h2 {
    font-size: 16px;
    margin: 0;
}

.measurement {
    color: red;
}

#instructions {
    margin-bottom: 20px;
}


.main_content.images>h1 {
    margin-bottom: 45px;
}

.single_image img {
    max-height: 250px;
}

.left {
    float: left;
    width: 48%;
}

.right {
    float: left;
    width: 48%;
    margin-left: 5px;
}

.vital {
    clear:both;
}

.main_content.images #all_images hr {
    margin-bottom: 25px;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, .2);
}

.right>p, .image_info {
    text-align: left;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5em;
    font-size: 18px;
}

.right>p>span {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #f0ff00;
}

.url_box {
    padding: 10px;
}

#image_show .url_container input[type=text] {

    color: black;
}

.image_info {
    font-size: 16px;
    margin: 0 75px;
    line-height: 20px;
}

.image_info span {
    color: #f0ff00;
    font-weight: 400;
}

#image_show hr {
    width: 80%;
    margin-top: 25px;
}

#color_block h2 {
    font-weight: 300;
    padding-top: 20px;
}

#all_colors {
    border: 2px solid rgba(255, 255, 255, .7);
}

#all_colors span {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 18px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
/*    -webkit-text-stroke: 2px black;
*/}

.single_color {
    padding: 10px 0;
}
/*-----------BOARDS VIEWS SPECIFIC STYLING--------*/

.main_content.all_boards {
    display: block;
}

#boards_block {
    margin-top: 20px;
    padding-bottom: 25px;
}

.all_boards h1 {
    margin-top: 20px;
    margin-bottom: 8px;
}

.all_boards h2 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.all_boards p {
    margin: 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
}

.all_boards .search_submit>input[type=submit] {
    margin-top: 10px;
}

.board_show {
    background: white;
    border-radius: 0;
    box-shadow: none;
    color: black;
}

.board_show p {
    margin-top: -20px;
    letter-spacing: 1px;
    font-weight: 100;
}

.board_show h1, .board_show p {
    text-align: left;
}

.board_show .search_submit>input[type=submit] {
    display: block;
}

.main_content.board_show hr {
    margin: 0 auto; 
}

.boards_right {
    float: right;
    padding-right: 60px;
    margin-top: 4px;
}

.board_single_image {
    max-height: 150px;
}

#board_images_block {
    display: block;
    margin-top: 20px;
}

.board_image {
    display: inline-block;
    margin: 10px;
    padding: 8px;
}

.board_image img {
    margin-left: 25px
}

.images h4 {
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-weight: 400;
}

/*////////////////////////////////////////////////////////////*/

/*-----------------FORM STYLING GOES HERE--------------------*/


.form {
    width: 350px;
    max-width: 406px;
    margin: 200px auto;
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup>h1 {
    margin-bottom: 20px;
}

#signup>hr {
    background: #e8e8e8;
    margin: 0px auto;
}

#signup .input {
    margin-top: 25px;
}

#signup .input label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

#signup #submit {
    width: 100%;
    margin-top: 20px;
    padding: 14px 0;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #737b8d;
    display: table;
    position: static;
    clear: both;
}

#signup h3 {
    display: inline-block;
    width: 100%;
    margin: 5px;
    text-align: center;
}

#signup h3>a {
    color: black;
}

#signup input[type="radio"]{
    float: left;
    margin-right: 7px;
}

.input>h4 {
    font-size: 18px;
    margin-bottom: 12px;
}

#signup #delete>a {
    color: black;
}

/*////////////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////////////////*/
/*------------------- EVENT HANDLERS --------------------*/
/*////////////////////////////////////////////////////////////*/

#signup #submit:hover, #signup h3>a:hover, #signup #delete>a:hover,  .search_submit>input[type=submit]:hover, input[type=submit]:hover, .cork_boards h2>a:hover {
    color: black;
    background: #f0ff00;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border-color: #f0ff00;
    box-shadow: 0 0 5px #f0ff00;
}

.all_boards>h4 a:hover, .bio a:hover, .all_boards>#boards_block a:hover {
    color: #f0ff00;
}

/*---nav bar styling---*/

#navbar>ul input[type=submit]:hover {
    background: #f0ff00;
    color: black;
}

.users .single h4:hover {
    color: #f0ff00;
}

#headernavigation a:hover {
    color: #f0ff00;
}

#board_image.logged_out {
    display: inline-block;
}

